<mat-nav-list>
  <ng-container *ngFor="let nav of navs">
    <a *ngIf="!nav.external" mat-list-item [routerLink]="nav.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon matListIcon>{{nav.icon}}</mat-icon>
      <span matLine>{{nav.name}}</span>
    </a>
    <a *ngIf="nav.external" mat-list-item [href]="nav.link" target="_blank">
      <mat-icon matListIcon>{{nav.icon}}</mat-icon>
      <span matLine>{{nav.name}}</span>
    </a>
  </ng-container>
  <a target="_blank" href="https://guarda.co/?utm_source=blockexplorers&utm_medium=banner&utm_campaign=guarda"><img src="/assets/guarda.png" style="width: 90%; margin: 0 auto 10px; display: block;"/></a>
  <a target="_blank" href="https://changenow.io?link_id=01b81d035af487"><img src="/assets/changenow.png" style="width: 70%; margin: 0 auto; display: block;"/></a>
</mat-nav-list>
